@mixin create-text-shadow($color) {
    /*
     * Taken somewhat liberally from
     * https://eager.io/blog/smarter-link-underlines/
     */
    text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color, .06em 0 $color, -.06em 0 $color, .09em 0 $color, -.09em 0 $color, .12em 0 $color, -.12em 0 $color, .15em 0 $color, -.15em 0 $color;
}

@mixin underline($background-color, $color, $selection-background-color, $selection-color) {
    //color: $color;
    text-decoration: none;
    @include create-text-shadow($background-color);
    background-image: linear-gradient($background-color, $background-color),  linear-gradient($background-color, $background-color),  linear-gradient($color, $color);
    background-size: .05rem 1px, .05rem 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0 90%;

    &::selection {
        @include create-text-shadow($selection-background-color);
        background: $selection-background-color;
    }

    &::-moz-selection {
        @include create-text-shadow($selection-background-color);
        background: $selection-background-color;
    }

    &:before, &:after, *, *:before, *:after {
        text-shadow: none;
    }
}
