//@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "compass/css3/hyphenation";
@import "compass/css3/transition";
@import "compass/typography/text/force-wrap";
@import "compass/typography/vertical_rhythm";

@import "normalize";

//@import "fonts";
@import "typography";
@import "underline";
@import "headings";

$tiny-font-size: 8px;
$small-font-size: 12px;
$code-font-size: 16px;
$base-font-size: 16px;
$medium-font-size: 22px;
$large-font-size: 32px;

$header-fonts: 'freight-neo-pro', 'Calibri', 'Helvetica', 'Arial', sans-serif;
$main-fonts: 'orpheuspro', serif;
$code-fonts: 'adaptive-mono', 'Source Code Pro', 'Consolas', 'Inconsolata', 'Monaco', monospace;

$light-color: #B0B2B9;
$medium-color: #868997;
$dark-color: #33374A;

$background-color: #fff;
$code-background-color: #fff;

$siteheader-color: $light-color;
$siteheader-background-color: $dark-color;
$siteheader-subtitle-color: $light-color;
$siteheader-link-focus-color: $medium-color;

$post-title-color: $light-color;
$post-heading-color: $dark-color;

$main-font-color: #333;

$link-color: #980000;
$link-focus-color: $dark-color;

//$selection-color: #b3d4fc;
$selection-color: #000;
$selection-background-color: $light-color;

/* hide text until fonts have loaded. */
.wf-loading {
    visibility: hidden;
}

* {
    @include box-sizing(border-box);
}

.hyphenate {
    @include hyphens(auto);
}

.donthyphenate {
    @include hyphens(none)
}

html {
    color: $main-font-color;
    font-size: $base-font-size;
    background-color: $background-color;

    @include font-kerning(normal);
    @include font-variant-ligatures(common-ligatures, contextual);
    @include font-feature-settings("kern", "liga", "clig", "calt", "pnum", "onum", "tnum" off, "lnum" off);
}

html, p, nav, section, article {
    font-family: $main-fonts;
}

/* === The following was taken from HTML5 Boilerplate's main.css === */

/*
  Remove text-shadow in selection highlight.
  This MUST be duplicated; otherwise it won't work.

  "...[B]rowsers ignore the entire selector if there is a part of it they
  don't understand or is invalid."
  - https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/
::-moz-selection {
    //color: $selection-color;
    background-color: $selection-background-color;
    text-shadow: none;
}
::selection {
    //color: $selection-color;
    background-color: $selection-background-color;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dark-color;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//@import "html5helpers";

/* === The preceding was taken from HTML5 Boilerplate's main.css === */

blockquote p {
    border-left: 5px solid $light-color;
    padding: 0 0.5em;
    margin: 1.25rem 2rem 1.25rem 2rem;
}

code {
    font-family: $code-fonts;
}

pre {
    @extend .donthyphenate;
    font-family: $code-fonts;
    font-size: $code-font-size;
    line-height: 1.55;
    padding: 0.5em;
    margin: 0 0 1.5em 0;
    border: 1px solid $dark-color;
    @include border-radius(0.35rem);
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}

p {
    color: $main-font-color;
    margin: 0 0 0.15rem 0;

    code {
        font-family: $code-fonts;
        @extend .donthyphenate;
    }
}

body {
    margin: 0;
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-content(flex-end);
    height: 100vh;
}

table {
    @extend .donthyphenate;
    border: 1px solid $dark-color;
    font-variant-numeric: lining-nums tabular-nums;
    @include font-feature-settings("kern", "liga", "clig", "calt", "lnum", "tnum", "pnum" off);
    @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));

    padding: 0.5em;
    margin: 0 0 1.5em 0;
}

thead {
    border: 1px solid $dark-color;
}

th, td {
    padding: 0.25rem 0.5rem;
}

td {
    font-family: $code-fonts;
    line-height: 1.55;

    border-bottom: 1px solid $light-color;
}

th {
    font-family: $header-fonts;
    letter-spacing: 0.09rem;
    font-weight: 700;
    @extend .donthyphenate;

    color: $post-heading-color;
    background: $light-color;
}

.site-header {
    padding: 1em;
    background-color: $siteheader-background-color;

    @include display-flex(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    @include flex(0 1 auto);
    min-height: 4rem;

    a {
        text-decoration: none;
        display: block;
        color: $siteheader-color;
        //padding: 0.25em 0.75em;
    }
    a:focus, a:hover {
        color: $siteheader-link-focus-color;
    }
}

nav {
    @include flex-wrap(wrap);
    @include flex(2 0 auto);
    @include justify-content(flex-end);
    @include align-items(flex-end);
}

.navigation, .pagination {
    margin: 0;
    padding: 0 0.5em;
    color: $siteheader-color;

    list-style: none;
    @include flex(1 0 auto);

    @include display-flex(flex);
    @include justify-content(flex-end);

    & li {
        padding: 0.25em;
    }
    & .link-separator {
        padding: 0.25em;
    }
    & .link-separator:last-of-type {
        display: none;
    }
}

.pager-break {
    width: 60%;
    color: $medium-color;
    @include align-self(center);
}

.pagination {
    @include align-self(center);
    .disabled, .active {
        color: $main-font-color;
        pointer-events: none;
    }
    .active::before, .active::after {
        content: "\2014";
    }
    li {
        text-align: center;
        //margin: 0 0.15em;
        //padding: 0.15em 0;
        min-width: 2em;
        font-weight: bold;
    }
}

.site-title {
    letter-spacing: 0.12em;
    font-family: $header-fonts;
    font-weight: 400;
    font-size: 1.5rem;

    @include flex(0 1 auto);
    margin: 0 0.5em;
}

.site-subtitle {
    color: $siteheader-subtitle-color;
    font-family: $header-fonts;
    letter-spacing: 0.07em;
    font-weight: 400;
    font-size: 1rem;

    @include flex(0 1 auto);
    margin: 0 0.5em;

    &::before {
        content: "//\00a0";
    }
}

.social {
    @include flex(0 1 auto);
    @include display-flex(flex);
    @include flex-direction(row);
}

main {
    margin: 1em 0.5em 0em 0.5em;
    @include flex(1 0 auto);

    @include display-flex(flex);
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(center);

    &>.post {
        font-size: $medium-font-size;
        width: 800px;
    }
}

.posts {
    max-width: 960px;
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);

}

article {
    max-width: 960px;
    padding: 0.75em;
    margin-bottom: 2em;
    @include flex(1 0 30%);

    &:nth-of-type(2), &:nth-of-type(5) {
        border-left: 1px solid $dark-color;
        border-right: 1px solid $dark-color;
    }

    &:last-of-type {
        border-right: none;
    }
}

.next-prev-links {
    margin: 3em 0em 0em 0em;
    @include display-flex(flex);
    @include flex-wrap(nowrap);
    @include align-items(flex-start);
    @include justify-content(space-between);
    font-style: italic;
}

.up-link {
    @include flex(1 0 auto);
    font-style: normal;
    text-align: center;
    font-size: $base-font-size;
}
.prev-link {
    @include flex(1 0 40%);
    @include align-items(flex-start);
    font-size: $base-font-size;
}
.next-link {
    @include flex(1 0 40%);
    @include align-items(flex-end);
    text-align: right;
    font-size: $base-font-size;
}

.comments {
    @include flex(1 0 auto);
    @include display-flex(flex);
    @include flex-direction(column);
    @include align-content(center);
}

footer {
    font-size: $small-font-size;
    color: $medium-color;
    padding: 0.5em;
    @include flex(1 0 auto);
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(center);
    @include align-self(center);
}

.build {
    font-family: $header-fonts;
    font-style: italic;
    //font-size: 0.75em;
    font-weight: 100;
}

.post-meta, .post-categories {
    font-size: $base-font-size;
    text-indent: 0;
    /*
    a {
        text-decoration: none;
    }
    */
}

.post-categories {
    font-style: italic;
}

.post-title {
    margin: 0;
    padding: 0;
    font-size: $large-font-size;
}

.post-title, h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
    letter-spacing: 0.09rem;
    color: $post-heading-color;
    font-weight: 400;
    @extend .donthyphenate;
}

.post-header {
    padding: 0 0 2em 0;
    a {
        color: $dark-color;
    }
    a:focus, a:hover {
        color: $medium-color;
    }
}

.posts {
    .post-header {
        padding: 0 0 1em 0;
    }
    .post-title {
        min-height: 3em;
        line-height: 1.2em;
        font-size: $medium-font-size;
        padding-bottom: 0.5em;
    }
    .post-meta {
        font-size: $base-font-size;
    }
}

.post-summary {
    text-indent: 1.35em;
    text-align: justify;
    text-justify: inter-word;
}

.post-summary-end {
    @include flex(1 0 auto);
    @include display-flex(flex);
    @include flex-direction(row);
    @include align-items(baseline);
    text-indent: 0;
    padding-top: 1em;
}

.comment-count {
    @include flex(1 0 auto);
    font-size: $small-font-size;
}

.read-more-link {
    @include flex (1 0 auto);
    font-style: italic;
    text-align: right;
}

.post-header {
    @extend .donthyphenate;
}

.post-content, .post-summary {
    @extend .hyphenate;
    line-height: 1.65;
}

.post-content {
    & p, pre {
        margin-bottom: 1em;
    }
    p:empty {
        display: none;
    }
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 2.0em 0 0.5em 0;
    @include font-feature-settings("kern", "liga", "clig", "calt", "pnum" off, "tnum" off, "lnum" on);
}

.post-content h1 {
    $font-size: ($large-font-size)-2;
    $line-height: 1.65;
}

.post-content h2 {
    $font-size: ($large-font-size)-4;
    $line-height: 1.65;
    @include header-line($font-size, $line-height);
}

.post-content h3 {
    $font-size: ($large-font-size)-6;
    $line-height: 1.65;
    //@include header-line($font-size, $line-height);
}

main a, footer a, .pagination a {
    color: $link-color;
    @include transition(0.4s);
    @include underline($background-color, $link-color, $selection-background-color, $selection-color);

    &:focus, &:hover {
        color: $link-focus-color;
    }
}

@media screen and (max-width:960px) {
    .posts {
        @include justify-content(center);
    }
    .posts>.post {
        max-width: 33%;
    }
    article.post {
        max-width: 100%;
    }
    blockquote p {
        border-left: 5px solid $light-color;
        padding: 0 0.5em;
        margin: 1.25rem 0;
    }
}

@media screen and (max-width:800px) {
    .next-prev-links {
        @include flex-direction(column);
        @include flex-wrap(wrap);
        @include align-items(center);
    }
    .next-link, .prev-link, .up-link {
        display: block;
        @include flex(1 0 auto);
        padding: 0.5em 0 0.5em 0;
    }
    .prev-link {
        order: 1;
    }
    .next-link {
        order: 2;
        text-align: left;
    };
    .up-link {
        order: 3;
        text-align: center;
    }

    pre code, table {
        padding: 0.1rem 0.2rem 0.0rem 0.2rem;
    }
    .posts {
        @include flex-direction(column);
        @include align-items(center);

        & .post-title {
            min-height: 0;
        }
    }
    .posts>.post {
        @include flex(1 0 auto);
        margin: 0;
        max-width: 90%;

        &, &:first-of-type {
            border: none;
            border-bottom: 1px solid $dark-color;
        }
        &:last-of-type {
            border: none;
        }
    }
}

@media screen and (max-width:599px) {
    .site-header {
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include flex(1 0 15%);

        min-height: 6em;
        margin: 0;
        padding: 0 0.25rem;
    }
    .site-title, .site-subtitle {
        @include flex(1 0 auto);
        margin: 0;
        padding: 0 0.25rem;
    }

    .site-subtitle {
        font-style: italic;
    }
    .site-subtitle::before {
        font-style: normal;
        content: "(";
    }
    .site-subtitle::after {
        font-style: normal;
        content: ")";
    }

    .navigation a {
        @include flex(1 0 auto);
        padding-bottom: 0.5rem;
    }

    main>.post {
        font-size: $base-font-size;
    }

    pre {
        font-size: $small-font-size;
    }

    .post-content {
        h1, h2, h3, h4, h5, h6 {
            margin: 1.5rem 0 1.0rem 0;
        }
    }

    .post-content h1 {
        $font-size: $medium-font-size;
        $line-height: 1.65;
        @include header-line($font-size, $line-height);
    }
    .post-content h2 {
        $font-size: ($medium-font-size)-2;
        $line-height: 1.65;
        @include header-line($font-size, $line-height);
    }
    .post-content h3 {
        $font-size: ($medium-font-size)-4;
        $line-height: 1.65;
        @include header-line($font-size, $line-height);
    }
}

@import "print";
