@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/flexbox";

//@import "_fonts.scss";

$main_fonts: 'freight-neo-pro', 'Helvetica', 'Arial', sans-serif;
$code_fonts: 'Cousine', monospace;
$header_fonts: 'orpheuspro', serif;
$main_font_color: #2d303b;
$sidebar_background_color: #2d303b;
$alt_font_color: #7F1000;
$sidebar_font_color: #8b8b8b;
$link_color: #616161;
$link_focus_color: #E54028;
$post_title_color: #111111;

* {
    @include box-sizing(border-box);
}

html {
    color: $main_font_color;
    text-rendering: optimizeLegibility;

    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

html, p, nav, section, article {
    font-family: $main_fonts;
    font-weight: 400;
    hyphens: auto;
}

.navbar, .navigation {
    margin: 0;
    background-color: $sidebar_background_color;

    @include display-flex(flex);
    @include flex-direction(row);
    @include align-items(center);

    a {
        text-decoration: none;
        display: block;
        padding: 0.25em 0.75em;
        color: white;
    }
}

.navbar {
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.navigation {
    list-style: none;
    @include flex(2 0 auto);
    @include justify-content(flex-end);
}

.site-title {
    letter-spacing: 0.12em;
    font-family: $header_fonts;
    font-weight: 400;
    font-size: 1.5em;

    @include flex(0 1 auto);
}

.site-subtitle {
    color: white;
    font-family: $header_fonts;
    letter-spacing: 0.07em;
    font-weight: 400;
    font-size: 1em;

    @include flex(1 1 auto);
}

.content {
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-content(flex-end);
    height: 100vh;
}

.main {
    margin: 1em 0.5em 0em 0.5em;
    @include flex(1 0 auto);
}

.posts {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-content(flex-end);
    @include flex-wrap(wrap);
}

.post {
    margin: 1em;
    @include flex(1 0 30%);
}

.footer {
    padding: 0.5em;
    @include flex(1 0 flex-end);
    @include align-self(center);
}

.build {
    font-family: $header_fonts;
    font-style: italic;
    font-size: 0.75em;
    font-weight: 100;
}

.post-header {
    //padding-top: .75rem;
    border-top: 1px solid black;
}

.post-title {
    font-family: $header_fonts;
    font-size: 1.45rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
    hyphens: none;
}

a {
    @include transition(0.4s);
    color: $link_color;
    text-decoration: none;

    &:focus {
        color: $link_focus_color;
    }
    &:hover {
        @extend a:focus;
        //text-decoration: underline;
    }
}
