@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #2d303b;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

html, p, nav, section, article {
  font-family: "freight-neo-pro", "Helvetica", "Arial", sans-serif;
  hyphens: auto;
}

/* === The following was taken from HTML5 Boilerplate's main.css === */
/*
  Remove text-shadow in selection highlight.
  This MUST be duplicated; otherwise it won't work.

  "…[B]rowsers ignore the entire selector if there is a part of it they
  don't understand or is invalid."
  - https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* === The preceding was taken from HTML5 Boilerplate's main.css === */
pre, p code {
  padding: 0.5rem;
  font-family: "prestige-elite-std", "Source Code Pro", "Consolas", monospace;
  font-size: 14px;
  background-color: #f8f8f8;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

p {
  color: #2d303b;
}
p code {
  font-size: 18px;
  font-weight: 700;
  padding: 0.02rem 0.1rem;
  position: relative;
  top: -0.12rem;
}
p a {
  color: #7F1000;
}

.content {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  height: 100vh;
}

.navbar, .navigation {
  margin: 0;
  background-color: #2d303b;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.navbar a, .navigation a {
  text-decoration: none;
  display: block;
  padding: 0.25em 0.75em;
  color: white;
}

.navbar {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  -webkit-flex: 2 0 auto;
  flex: 2 0 auto;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.site-title {
  letter-spacing: 0.12em;
  font-family: "orpheuspro", serif;
  font-weight: 400;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

.site-subtitle {
  color: white;
  font-family: "orpheuspro", serif;
  letter-spacing: 0.07em;
  font-weight: 400;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main {
  margin: 1em 0.5em 0em 0.5em;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.posts {
  max-width: 960px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main > .post {
  font-size: 22px;
  width: 800px;
}

.posts > .post {
  max-width: 33%;
  padding: 0.75em;
  margin-bottom: 2em;
  -webkit-flex: 1 0 30%;
  flex: 1 0 30%;
  border-left: 1px solid black;
}
.posts > .post:first-of-type {
  border: none;
}

.footer {
  padding: 0.5em;
  -webkit-flex: 1 0 flex-end;
  flex: 1 0 flex-end;
  -webkit-align-self: center;
  align-self: center;
}

.build {
  font-family: "orpheuspro", serif;
  font-style: italic;
  font-weight: 100;
}

.post-title {
  margin: 0;
  font-family: "orpheuspro", serif;
  font-weight: 700;
  letter-spacing: 0.09rem;
  hyphens: none;
}

a {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #616161;
  text-decoration: none;
}
a:focus, a:hover {
  color: #E54028;
}

@media screen and (max-width: 960px) {
  .posts {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .posts > .post {
    max-width: 33%;
  }
}
@media screen and (max-width: 800px) {
  pre, p code {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
  }
  pre code, p code code {
    padding: 0.1rem 0.2rem 0.0rem 0.2rem;
  }

  .posts {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }

  .posts > .post {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    max-width: 90%;
  }
  .posts > .post, .posts > .post:first-of-type {
    border: none;
    border-bottom: 1px solid black;
  }
  .posts > .post:last-of-type {
    border: none;
  }
}
/* === The following was taken from HTML5 Boilerplate's main.css === */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre, p code,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* === The preceding was taken from HTML5 Boilerplate's main.css === */
