@charset "UTF-8";
/* hide text until fonts have loaded. */
.wf-loading {
  visibility: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hyphenate, .post-content, .post-summary {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.donthyphenate, pre, p code, .post-title, h1, h2, h3, h4, h5, h6, .post-header {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

html {
  color: #333;
  font-size: 16px;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-font-kerning: normal;
  -ms-font-kerning: normal;
  -o-font-kerning: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -moz-font-variant-ligatures: common-ligatures, contextual;
  -ms-font-variant-ligatures: common-ligatures, contextual;
  -o-font-variant-ligatures: common-ligatures, contextual;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -o-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

html, p, nav, section, article {
  font-family: "orpheuspro", serif;
}

/* === The following was taken from HTML5 Boilerplate's main.css === */
/*
  Remove text-shadow in selection highlight.
  This MUST be duplicated; otherwise it won't work.

  "…[B]rowsers ignore the entire selector if there is a part of it they
  don't understand or is invalid."
  - https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/
::-moz-selection {
  background-color: #B0B2B9;
  text-shadow: none;
}

::selection {
  background-color: #B0B2B9;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* === The preceding was taken from HTML5 Boilerplate's main.css === */
blockquote p {
  border-left: 5px solid #B0B2B9;
  padding: 0 0.5em;
  margin: 1.25rem 2rem 1.25rem 2rem;
}

code {
  font-family: "adaptive-mono", "Source Code Pro", "Consolas", "Inconsolata", "Monaco" monospace;
}

pre {
  font-family: "adaptive-mono", "Source Code Pro", "Consolas", "Inconsolata", "Monaco" monospace;
  font-size: 16px;
  line-height: 1.55;
  padding: 0.5em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ddd;
  -moz-border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  border-radius: 0.35rem;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

p {
  color: #333;
  margin: 0 0 0.15rem 0;
}
p code {
  font-family: "adaptive-mono", "Source Code Pro", "Consolas", "Inconsolata", "Monaco" monospace;
}

body {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  height: 100vh;
}

.site-header {
  padding: 1em;
  background-color: #33374A;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  min-height: 4rem;
}
.site-header a {
  text-decoration: none;
  display: block;
  color: #B0B2B9;
}
.site-header a:focus, .site-header a:hover {
  color: #868997;
}

nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 2 0 auto;
  flex: 2 0 auto;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.navigation, .pagination {
  margin: 0;
  padding: 0 0.5em;
  color: #B0B2B9;
  list-style: none;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.navigation li, .pagination li {
  padding: 0.25em;
}
.navigation .link-separator, .pagination .link-separator {
  padding: 0.25em;
}
.navigation .link-separator:last-of-type, .pagination .link-separator:last-of-type {
  display: none;
}

.pager-break {
  width: 60%;
  color: #868997;
  -webkit-align-self: center;
  align-self: center;
}

.pagination {
  -webkit-align-self: center;
  align-self: center;
}
.pagination .disabled, .pagination .active {
  color: #333;
  pointer-events: none;
}
.pagination .active::before, .pagination .active::after {
  content: "\2014";
}
.pagination li {
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

.site-title {
  letter-spacing: 0.12em;
  font-family: "freight-neo-pro", "Calibri", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 0.5em;
}

.site-subtitle {
  color: #B0B2B9;
  font-family: "freight-neo-pro", "Calibri", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.07em;
  font-weight: 400;
  font-size: 1rem;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 0.5em;
}
.site-subtitle::before {
  content: "//\00a0";
}

main {
  margin: 1em 0.5em 0em 0.5em;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}
main > .post {
  font-size: 22px;
  width: 800px;
}

.posts {
  max-width: 960px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

article {
  max-width: 960px;
  padding: 0.75em;
  margin-bottom: 2em;
  -webkit-flex: 1 0 30%;
  flex: 1 0 30%;
}
article:nth-of-type(2), article:nth-of-type(5) {
  border-left: 1px solid #33374A;
  border-right: 1px solid #33374A;
}
article:last-of-type {
  border-right: none;
}

.next-prev-links {
  margin: 3em 0em 0em 0em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-style: italic;
}

.up-link {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  font-style: normal;
  text-align: center;
  font-size: 16px;
}

.prev-link {
  -webkit-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  font-size: 16px;
}

.next-link {
  -webkit-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  text-align: right;
  font-size: 16px;
}

footer {
  font-size: 12px;
  color: #868997;
  padding: 0.5em;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  align-self: center;
}

.build {
  font-family: "freight-neo-pro", "Calibri", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
}

.post-meta, .post-categories {
  font-size: 16px;
  text-indent: 0;
}
.post-meta a, .post-categories a {
  text-decoration: none;
}

.post-categories {
  font-style: italic;
}

.post-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.post-title, h1, h2, h3, h4, h5, h6 {
  font-family: "freight-neo-pro", "Calibri", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.07rem;
  color: #33374A;
  font-weight: 400;
}

.post-header {
  padding: 0 0 2em 0;
}
.post-header a {
  color: #33374A;
}
.post-header a:focus, .post-header a:hover {
  color: #868997;
}

.posts .post-header {
  padding: 0 0 1em 0;
}
.posts .post-title {
  min-height: 3em;
  line-height: 1.2em;
  font-size: 22px;
  padding-bottom: 0.5em;
}
.posts .post-meta {
  font-size: 16px;
}

.post-summary {
  text-indent: 1.35em;
  text-align: justify;
  text-justify: inter-word;
}

.post-content, .post-summary {
  line-height: 1.65;
}

.post-content p, .post-content pre {
  margin-bottom: 1em;
}
.post-content p:empty {
  display: none;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  font-size: 28px;
}

a {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #980000;
  text-decoration: none;
}
a:focus, a:hover {
  color: #33374A;
}

/*
p a {
    text-decoration: underline;
}
*/
.read-more-link {
  font-style: italic;
  text-align: right;
  padding-top: 0.5em;
}

@media screen and (max-width: 960px) {
  .posts {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .posts > .post {
    max-width: 33%;
  }

  article.post {
    max-width: 100%;
  }

  blockquote p {
    border-left: 5px solid #B0B2B9;
    padding: 0 0.5em;
    margin: 1.25rem 0;
  }
}
@media screen and (max-width: 800px) {
  .next-prev-links {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }

  .next-link, .prev-link, .up-link {
    display: block;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0.5em 0 0.5em 0;
  }

  .prev-link {
    order: 1;
  }

  .next-link {
    order: 2;
    text-align: left;
  }

  .up-link {
    order: 3;
    text-align: center;
  }

  pre code {
    padding: 0.1rem 0.2rem 0.0rem 0.2rem;
  }

  .posts {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .posts .post-title {
    min-height: 0;
  }

  .posts > .post {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    max-width: 90%;
  }
  .posts > .post, .posts > .post:first-of-type {
    border: none;
    border-bottom: 1px solid black;
  }
  .posts > .post:last-of-type {
    border: none;
  }
}
@media screen and (max-width: 599px) {
  .site-header {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex: 1 0 15%;
    flex: 1 0 15%;
    min-height: 6em;
    margin: 0;
    padding: 0 0.25rem;
  }

  .site-title, .site-subtitle {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    padding: 0 0.25rem;
  }

  .site-subtitle {
    font-style: italic;
  }

  .site-subtitle::before {
    font-style: normal;
    content: "(";
  }

  .site-subtitle::after {
    font-style: normal;
    content: ")";
  }

  .navigation a {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-bottom: 0.5rem;
  }

  main > .post {
    font-size: 16px;
  }

  pre {
    font-size: 12px;
  }

  .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin: 1em 0 0.5em 0;
  }

  .post-content h1 {
    font-size: 22px;
  }

  .post-content h2 {
    font-size: 20px;
  }
}
/* === The following was taken from HTML5 Boilerplate's main.css === */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* === The preceding was taken from HTML5 Boilerplate's main.css === */
