{{ partial "header.html" . }}
<body class="hyphenate">
{{ partial "bodybegin.html" . }}
{{ partial "navbar.html" . }}
<main>
{{ $Site := .Site }}
<article class="post">
    <header class="post-header donthyphenate">
        <h1 class="post-title">{{.Title}}</h1>
        <div class="post-meta">
            {{ if not (.Param "nodate") }}
            posted on {{ dateFormat "Jan. 2, 2006" .Date }}
            {{ end }}

            {{ if and (not (.Param "noauthor")) (.Param "author") }}
            by {{ if .Param "authorlink" }}<a class="post-author" href="{{ .Param "authorlink" }}">{{ end }}{{ .Param "author"  }}{{ if .Param "authorlink" }}</a>{{ end }}
            {{ end }}

            {{ if not (.Param "noreadtime") }}
            <span class="post-reading-time">(<em>{{.ReadingTime}} min. read</em>&hairsp;)</span>
            {{ end }}

            {{ with .Params.categories }}
            <div class="post-categories">
                Posted in: {{ delimit (apply (apply (sort .) "partial" "post/category/link" ".") "chomp" ".") ", " }}
            </div>
            {{ end }}
        </div>
    </header>
    <section class="post-content hyphenate">
        {{ .Content }}
    </section>

    {{ if or .Prev .Next }}
    <nav class="next-prev-links">
        <div class="prev-link">{{ if .Prev }}<a href="{{ .Prev.RelPermalink }}">&larr;&nbsp;Newer:&nbsp;{{ .Prev.LinkTitle }}</a>{{ end }}</div>
        <div class="up-link"><a href="{{ .Section | urlize }}">&mdash;Up&mdash;</a></div>
        <div class="next-link">{{ if .Next }}<a href="{{ .Next.RelPermalink }}">Older:&nbsp;{{ .Next.LinkTitle }}&nbsp;&rarr;</a>{{ end }}</div>
    </nav>
    {{ end }}
</article>
</main>
{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}
</body>
</html>
