{{ partial "header.html" . }}
<body>
<div class="content">
    {{ partial "navbar.html" . }}
    <div class="main">
        {{ $Site := .Site }}
        <section class="post">
            <header class="post-header">
                <h1 class="post-title">{{.Title}}</h1>
            <span class="post-meta">
            {{ if not .Params.nodate }}
            posted on {{ .Date.Format "Jan. 2, 2006" }}
            {{ end }}
            </span>
            </header>
            <article class="post-content">
                {{ .Content }}
            </article>
        </section>
    </div>
    <div class="footer">
        {{ partial "footer.html" . }}
    </div>
</div>
</body>
</html>
