{{ if .Param "openGraphMetadata" }}
{{ if .IsPage }}

<!-- OpenGraph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
{{ if .Params.ogImage }}
<meta property="og:image" content="{{ .Params.ogImage }}" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.ogLocale }}
<meta property="og:locale" content="{{ .Params.ogLocale}}" />
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />


<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />

{{ end }}{{/* if .IsPage */}}
{{ end }}{{/* if .Param "openGraphMetadata" */}}
