{{ if .Param "openGraphMetadata" }}
{{ if .IsPage }}

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ if .Param "ogImageUrl" }}
<meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Param "ogImageUrl" }}" />
{{ end }}

{{ if .Param "ogLocale" }}
<meta property="og:locale" content="{{ .Param "ogLocale" }}" />
{{ end }}

<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />

{{ end }}{{/* if .IsPage */}}
{{ end }}{{/* if .Param "openGraphMetadata" */}}
