{{ if .Param "twitterMetadata" }}

<meta name="twitter:card" content="summary" />
{{ if .Param "twitterSite" }}
<meta name="twitter:site" content="{{ .Param "twitterSiteId" }}" />
{{ else if .Param "twitterId" }}
<meta name="twitter:site:id" content="{{ .Param "twitterId" }}" />
{{ end }}

<meta name="twitter:title" content="{{ .Title }}" />

{{ if .IsNode }}
<meta name="twitter:description" content="{{ if .Description }}{{ .Description}}{{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ else }}
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />
{{ end }}

{{ if .Param "twitterImageUrl" }}
<meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Param "twitterImageUrl" }}" />
{{ end }}

{{ end }}{{/* if .Param "twitterMetadata" */}}
