<!--
    Add "highlightjs = true" to your site config file to use
    Highlight.js for client-side syntax highlighting.
-->
{{ if .Site.Params.highlightjs }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!--
    Add "lightbox = true" to your site config file to use
    Lightbox for images.
-->
{{ if .Site.Params.lightbox }}
<script src="js/lightbox-plus-jquery.min.js"></script>
{{ end }}

<!--
    Add "hyphenator = true" to your site config file to use
    Hyphenator.js for client-side hyphenation if the browser does not
    support CSS3's "hyphens" property.
    See http://caniuse.com/#search=css-hyphens for the current state of
    hyphenation support in browsers. The gist is that, at the time of
    this comment, only Chrome and its descendants (Android, Opera) do
    not support CSS hyphenation.
-->
{{ if .Site.Params.hyphenator }}
<script src="js/Hyphenator_Loader.js" defer></script>
{{ end }}

<!--
    Add your Google Analytics ID ('GoogleAnalytics = "UA-..."') to your
    site config file to include the GA tracking code.
-->
{{ if .Site.GoogleAnalytics }}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

