<header class="site-header">
    <a class="site-title" href="{{ $.Site.BaseURL | printf "%v" | relURL }}">{{ .Site.Title }}</a>
    {{ if .Site.Params.SiteTagline }}
    <span class="site-subtitle">{{ .Site.Params.SiteTagline }}</span>
    {{ end }}
    {{ partial "social.html" . }}
    <nav>
        <ul class="navigation">
            {{ range $name, $section := .Site.Sections }}
            {{ if $name }}
            <li><a href="{{ $name | urlize }}">{{ $name | pluralize }}</a></li>
            <li class="link-separator">|</li>
            {{ end }}
            {{ end }}
        </ul>
    </nav>
</header>
