{{ partial "header.html" . }}
<body class="hyphenate">
<!--
    If you need to add anything at the top of the body, copy
    themes/<theme>/layouts/partials/bodybegin.html to
    layouts/partials/bodybegin.html and make local changes there.
-->
{{ partial "bodybegin.html" . }}
{{ partial "navbar.html" . }}
<main>
<section class="posts">
    {{ $Site := .Site }}
    {{ range first 10 (where .Data.Pages "Section" "post") }}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h2>
            <div class="post-meta">
                {{ if not (.Param "nodate") }}
                posted on {{ dateFormat "Jan. 2, 2006" .Date }}
                {{ end }}

                {{ if and (not (.Param "noauthor")) (.Param "author") }}
                by {{ if .Param "authorlink" }}<a class="post-author" href="{{ .Param "authorlink" }}">{{ end }}{{ .Param "author"  }}{{ if .Param "authorlink" }}</a>{{ end }}
                {{ end }}

                {{ if not (.Param "noreadtime") }}
                <span class="post-reading-time">(<em>{{.ReadingTime}} min. read</em>&thinsp;)</span>
                {{ end }}
            </div>
        </header>
        <section class="post-summary">
            {{ .Summary }}
            {{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ .RelPermalink }}">Read More&hellip;</a>
            </div>
            {{ end }}
        </section>
    </article>
    {{ end }}
</section>
</main>
{{ partial "footer.html" . }}
{{ partial "bodybottom.html" . }}

<!--
    If you need to add anything at the bottom of the body, copy
    themes/<theme>/layouts/partials/bodyend.html to
    layouts/partials/bodyend.html and make local changes there.
-->
{{ partial "bodyend.html" . }}
</body>
</html>
